html
    head
        title Chapter 3 Exercise 1 
    body
        h3 page: #{page}
        h3 count: #{count}
        h3 id: #{id}
        form(action ="/post" method="post")
            input(type="submit", value= "post")
        
            